<!-- <form class="searchForm" method="GET" action="">
    <input class="searchTerm" [(ngModel)]="searchText" placeholder="search...." autocomplete="off"/>
    <input type="submit" class="searchbutton" value="GO">
    <ul class="suggestionBox">
      <li *ngFor="let c of characters | search : searchText">
        {{c}}
      </li>
    </ul>
</form>
 -->





<div class="searchForm">
<input class="searchTerm" [(ngModel)]="searchText" placeholder="Search...."> 
</div>
<div class="row">
    <div class="column left">
      <div class="header">Projects</div>
      <div class="content">
      <ul>
          <li *ngFor="let c of characters | search : searchText">
            {{c}}
          </li>
        </ul>
      </div>
    </div>
    <div class="column middle">
        <div class="header">Nodes</div>
    </div>
    <div class="column right">
        <div class="header">Node properties</div>
    </div>
  </div>